.district-card {
    background-color: #FFF;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.district-header {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #AAA;
}

.light-blue {
    background-color: #8EB9FF;
}

.light-red {
    background-color: #FF4C4C;
}

.light-yellow {
    background-color: #FFFA7F;
}

.district-grid a:link, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

.district-grid h3:hover {
    text-decoration: underline;
}
