.filter-grid-root {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
}

.filter-grid-center {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
}

.filter-grid-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.rep-grid-container {
    padding-top: 25px;
}
