.party-content {
    padding-top: 50px;
}

.party-card {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 25px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.top-info .party-header {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 50px;
}

.top-info .party-header img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-info .quick-facts {
    margin-top: 50px;
    font-size: 1.2em;
}

.top-info .quick-facts a:link,
.top-info .quick-facts a:visited {
    color: #3472D8;
}

.top-info .quick-facts p {
    text-align: left;
}

.top-info .quick-facts .party-info-header {
    font-weight: bold;
    margin-right: 5px;
}

.top-info .quick-facts .party-info-info {
    float: right;
}

.media h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.media .youtube-div {
    margin-bottom: 25px;
}

.reps-grid {
    margin-top: 75px;
}

.reps-grid .party-rep-card {
    height: 400px;
}

.reps-grid .party-rep-card img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.districts-grid {
    margin-top: 75px;
}

.districts-grid .party-rep-card .district-card {
    color: #000;
}

.reps-grid h2,
.districts-grid h2 {
    margin-bottom: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #AAA;
}

.party-district {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
