.party-index-card {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFF;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.party-index-name {
    margin-top: 50px;
    text-align: center;
}

.center-div img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.party-single-card {
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.party-single-card img {
    width: 50%;
}
