.rep_img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 100%;
  max-width: 55%;
  bottom: 200px;
  margin-top: 10%;
}

.list {
  margin: 0% auto;
  left: 0%;
  right: 0%;
}

.tile {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #FFF;
  margin-bottom: 25px;
  padding-bottom: 25px;
  min-height: 400px;
}

.rep_info {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-family: 'EB Garamond', serif;
}

.party-details-rep-instance {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.party-details-rep-instance .tile .rep_img {
    margin-top: 55px !important;
}

.shadow {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.rep-height {
    min-height: 90vh;
}
